@use 'layout';

.container {
    text-align: center;
    margin: 0 auto;
}

.primary-heading {
    color: $magnolia;
    font-weight: $semi-bold;
}

.sub-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}